<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836032758237-m2egc1761cl5mtm45s8g6ue35rpplkmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836032758237-m2egc1761cl5mtm45s8g6ue35rpplkmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDASuXQwRGWDje-kmHq9YUZSesFMx-ZRYg</string>
	<key>GCM_SENDER_ID</key>
	<string>836032758237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.wan.WanCircles</string>
	<key>PROJECT_ID</key>
	<string>wancircles</string>
	<key>STORAGE_BUCKET</key>
	<string>wancircles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836032758237:ios:31aff761a1304f31893634</string>
	<key>DATABASE_URL</key>
	<string>https://wancircles.firebaseio.com</string>
</dict>
</plist>